apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp
  namespace: mateapp
  labels:
    app: todoapp
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  replicas: 2
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      name: todoapp
      labels:
        app: todoapp
    spec:
      containers:
        - name: todoapp
          image: ikulyk404/todoapp:3.0.0
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          ports:
            - containerPort: 8080
              protocol: TCP
      restartPolicy: Always
      